<h1><%= @random_sentence %></h1>
  <p class="lead">
    <%= form_with do |form| %>
      <% for option in @shuffled_options do %>
          <h5> <%= link_to form.label "#{option}", controller: "quizzes", action: "new", method: :post, class: "btn btn-primary", remote: true %></h5>
        <% end %>
      <% end %>
  </p>
