

<div class="cover-container w-100 h-100 p-3 d-flex text-center flex-column justify-content-center align-items-center">
  <div class="px-3 main-content-center">
    <h1>Nuevo Quizz</h1>
    <p class="lead">
      Comprueba tus habilidades en español chileno, y súmate al ranking!
    </p>
    <p class="lead">
      <%= link_to "Empezar", new_quiz_path,  class: "btn btn-lg btn-custom fw-bold"%>
    </p>

  </div>
</div>
