<div class="cover-container w-100 h-100 p-3 d-flex text-center flex-column justify-content-center align-items-center">
  <div class="px-3 main-content-center">

      <%= render "quizform" %>

  </div>
  <div class="px-3">
    <%= render "user_score" %>
  </div>
</div>
