<div class="cover-container w-100 h-100 p-3 d-flex text-center flex-column justify-content-center align-items-center">
  <div class="px-3 main-content-center">
    <!-- Unless user's points is equal o bigger than 7 keep rendering quizform -->
      <%= render "quizform" %>
  </div>
  <div class="px-3">
    <%= render "user_score" %>
  </div>
</div>
