<footer class="fixed-bottom text-center">
  <p>Made with <%= image_tag('ruby', size: "16x16", alt: "Ruby language") %> by <a href="https://novapixels.net" target="_blank" class="text-white">Monica Randriamialy</a></p>
</footer>
