<div class="container">
  <header class="d-flex flex-wrap justify-content-between py-3 mb-4">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">

      <h5 class="fs-4">Chilenista</h5>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link text-light"><h6>Ingresar</h6></a></li>
      <li class="nav-item"><span class="nav-link">|</span></li>
      <li class="nav-item"><a href="#" class="nav-link text-light"><h6>Registrar</h6></a></li>
    </ul>
  </header>
</div>
