  <div class="cover-container w-100 h-100 p-3 d-flex text-center flex-column justify-content-center align-items-center">
    <div class="px-3 main-content-center">

      <%= turbo_frame_tag "expression_turbo_frame" do %>
        <%= render "expression" %>
      <% end %>
      <p class="lead">
        <%= link_to "Otro más", expressions_path(@expressionsample), data: { turbo_frame: "expression_turbo_frame"}, class: "btn btn-lg btn-custom fw-bold"%>
      </p>

    </div>
  </div>
